VAULT_DEV_ROOT_TOKEN=dev-only-token-12345
VAULT_ADDR=http://vault:8200
POSTGRES_USER=vaultadmin
POSTGRES_PASSWORD=localdevpassword
POSTGRES_DB=appdb
PG_PORT=5432
PG_ADMIN_USER=vaultadmin
PG_ADMIN_PASSWORD=localdevpassword
APP_NAME=zero-trust-demo
