VAULT_DEV_ROOT_TOKEN=replace-with-dev-token
VAULT_ADDR=http://vault:8200
POSTGRES_USER=vaultadmin
POSTGRES_PASSWORD=replace-me
POSTGRES_DB=appdb
PG_PORT=5432
PG_ADMIN_USER=vaultadmin
PG_ADMIN_PASSWORD=replace-me
APP_NAME=zero-trust-demo
